<!DOCTYPE html>
<html>
<head>
  <title>MyApp</title>
  <%= javascript_include_tag  webpack_file('clients_styles-bundle.js') %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="crazy-second-color">
    some crazy second color
  </div>
  <%= yield %>
  <%= javascript_include_tag  webpack_file('common.js'), 'data-turbolinks-track' => true %>
  <%= javascript_include_tag  webpack_file('clients-bundle.js') %>
</body>
</html>
